@{

}

<div class="box box-primary">
    <div class="box-header with-border">

    </div>

    <div class="box-body">
        <form class="form-horizontal" action="#">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Tên khách hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="CustomerName" name="CustomerName" placeholder="" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Tên giao dịch:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="ContactName" name="ContactName" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Địa chỉ:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Address" name="Address" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Quốc gia:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="Country" name="Country">
                        <option>Việt Nam</option>
                        <option>Hàn Quốc</option>
                        <option>Nhật Bản</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Thành phố:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="City" name="City" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Mã bưu chính:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="PostalCode" name="PostalCode" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                    <a href="~/customer" class="btn btn-default">
                        <i class="fa fa-ban"> Quay lại</i>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="footer">

    </div>
</div>