
@{

}


<div class="box box-primary">
    <div class="box-header with-border">

    </div>

    <div class="box-body">
        <form class="form-horizontal" action="#">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Tên Người giao hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="ShipperName" name="ShipperName" placeholder="" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Số điện thoại:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                    <a href="~/shipper" class="btn btn-default">
                        <i class="fa fa-ban"> Quay lại</i>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="footer">

    </div>
</div>



